{% extends 'base.html' %}

{% block content %}
{% if not context_user %}
<div class="mb-4 mb-md-12 container-md text-center" id="user_not_found">
    <h3>User does not exists.</h3>
    <a href="{% url 'statistics_app:transport_home' %}"><input type="button" class="btn btn-primary btn-sm" value="Try Again"></a>
</div>
{% else %}
<div class="mb-4 mb-md-12 container-md text-center" id="users_section">
    <h3>Search {{context_user.username}} routes</h3>
    <br>
    <form class="form-inline" action="{% url 'statistics_app:route_page_form_handler' username=context_user.username %}" enctype="multipart/form-data" method="post">
        {% csrf_token %}
        {{ form.departure_name }}
        {{ form.arrival_name }}
        {{ form.departure_date }}
        <input type="submit" class="btn btn-primary btn-sm" value="Search">
        <div id="form_checkboxes">
            {{ form.transport_types }}
        </div>
        {% if form.transport_types.errors %}
        <div id="form_checkboxes_errors">
        <ol>
        {% for error in form.transport_types.errors %}
            <li><strong>At least one checkbox is required.</strong></li>
        {% endfor %}
        </ol>
        </div>
        {% endif %}
    </form>
    <h5>{{context_user.username}} total routes: {{context_routes_count}}</h5>
    <table class="table table-striped">
        <thead class="table-dark">
            <tr>
                <th>Type</th>
                <th>Route</th>
                <th>Departure</th>
            </tr>
        </thead>
        <tbody>
        {% for context_route in context_routes %}
        <tr class="">
            {% if context_route.source_name == "poezd.ua" %}
            <th><img src="https://poezdato.net/img/only_trains.png" alt="poezdato_train.jpg"></th>
            {% elif context_route.source_name == "poezdato/blablacar" %}
            <th><img src="https://poezdato.net/img/trip.png" alt="poezdato.jpg"></th>
            {% endif %}
            <th>{{context_route.departure_name}} - {{ context_route.arrival_name }}</th>
            <th>{{context_route.departure_date|date:"d-m-Y"}}</th>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}
{% endblock %}