{% extends "base.html" %}
{% load static %}
{% block content%}
    <form action = "{% url 'subscription:add_subscription' %}" method="post">
        {% csrf_token %}
        <fieldset id="services">
            <div>
                <div>
                    <label for="services">Services: </label>
                </div>
                <div>
                    <input type="checkbox" id="weather_id" name="weather" onclick="change(this)">
                    <label for="weather">Weather</label>
                    <fieldset id="info_for_weather" hidden disabled>
                        <label for="city_for_weather_id">City: </label>
                        <input type="text" id="city_for_weather_id" name='city_for_weather' required=true>
                        <label for="date_of_expire_for_weather_id">Date of expire: </label>
                        <input type="date" id="date_of_expire_for_weather_id" name='date_of_expire_for_weather' required=true onchange="checkdate(this)">
                    </fieldset>
                </div>
                <div>
                    <input type="checkbox" id="hotels_id" name="hotels" onclick="change(this)">
                    <label for="hotels">Hotels</label>
                    <fieldset id="info_for_hotels" hidden disabled>
                        <label for="city_for_hotels_id">City: </label>
                        <input type="text" id="city_for_hotels_id" name='city_for_hotels' required=true>
                        <label for="date_of_expire_for_hotels_id">Date of expire: </label>
                        <input type="date" id="date_of_expire_for_hotels_id" name='date_of_expire_for_hotels' required=true onchange="checkdate(this)">
                    </fieldset>
                </div>
                <div>
                    <input type="checkbox" id="transport_id" name="transport" onclick="change(this)">
                    <label for="transport">Transport</label>
                    <fieldset id="info_for_transport" hidden disabled>
                        <label for="city_of_arrival_for_transport_id">City of arrival: </label>
                        <input type="text" id="city_of_arrival_for_transport_id" name='city_of_arrival_for_transport' required=true>
                        <label for="city_of_departure_for_transport_id">City of departure: </label>
                        <input type="text" id="city_of_departure_for_transport_id" name='city_of_departure_for_transport' required=true>
                        <label for="date_of_expire_for_transport_id">Date of expire: </label>
                        <input type="date" id="date_of_expire_for_transport_id" name='date_of_expire_for_transport' required=true onchange="checkdate(this)">
                    </fieldset>
                </div>
            </div>  
        <br>
        <input type="submit" class="btn btn-success pass-btn" style="margin-top:0;"></input>
    </form>
    <div class="row">
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
    <script src="{% static 'js/subscription/index.js' %}"></script> 
    {% endblock %}
