{% extends "base.html" %}

{% block content%}
    <form action="{% url 'subscription:update_subscription' pk=subscription.pk %} " method="post">
        {% csrf_token %}
        <div class="col-6 col-md-4">
            {% for field in form %}
                <div class="form-group row">{{ field.label_tag }} {{ field }}</div>
                {% if field.errors %}
                    <div class="alert alert-danger">
                        {{ field.label_tag }}{{ field.errors }}
                    </div>
                {% endif %}
                {% if field.help_text %}
                    <p class="help">{{ field.help_text|safe }}</p>
                {% endif %}
            {% endfor %}
        {% if form.errors %}
            {% for error in form.non_field_errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endif %}
        </div>
        <div class="row">
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
        <br>
        <input type="submit" class="btn btn-success pass-btn" style="margin-top:0;">
    </form>
{% endblock %}