{% extends 'base.html' %}

{% block content %}
    <style>
        .text-title{
            margin: 5rem 0;
        }
    </style>
    <div class="container">
        <div class="row">
            <h1>Are you sure to delete your profile, {{ request.user }}?</h1>
            <h5>This action cannot be canceled, your profile would be deleted forever</h5>
            <div class="d-flex justify-content-center answer-buttons">
                <form method="POST" class="col-md-6 text-end">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger pass-btn p-3" style="margin-right:1rem;" name="Delete">Yes</button>
                </form>
                <div class="col-md-6">
                    <a class="btn btn-success pass-btn p-3" href="{% url 'user_profile:user_profile' %}">No</a>
                </div>
            </div>
        </div>
    </div>
    
{% endblock %}