{% extends "base.html" %}

{% block content %}
<div class="text-center">
    <h3>Welcome to the Transport search</h3>
    <br>
    <form class="form-inline" action="{% url 'transport:schedule_post_handler' %}" enctype="multipart/form-data" method="post">
        {% csrf_token %}
        {{ form.departure_name }}
        {{ form.arrival_name }}
        {{ form.departure_date }}
        <input type="submit" class="btn btn-primary btn-sm" value="Search">
        <div id="form_checkboxes">
            {{ form.transport_types }}
        </div>
        {% if form.transport_types.errors %}
        <div id="form_checkboxes_errors">
        <ol>
        {% for error in form.transport_types.errors %}
            <li><strong>At least one checkbox is required.</strong></li>
        {% endfor %}
        </ol>
        </div>
        {% endif %}
    </form>
</div>
<div class="mb-4 mb-md-12 container-md text-left" id="route_section">
    <br>
{% if cars_data.result is False and trains_data.result is False %}
    <div class="text-center">
        <h3>Route not found</h3>
    </div>
{% elif cars_data.result is True and trains_data.result is True %}
    <h4>{{cars_data.departure_name}} - {{cars_data.arrival_name}}</h4>
    <h5>{{cars_data.departure_date|date:"d-m-Y"}}</h3>
{% elif cars_data.result is True or trains_data.result is True %}
    {% if cars_data.result is True %}
        <a href="{{cars_data.source_url}}" target="_blank"><h4>{{cars_data.departure_name}} - {{cars_data.arrival_name}}</h4></a>
        <h5>{{cars_data.departure_date|date:"d-m-Y"}}</h3>
    {% elif trains_data.result is True %}
        <h4>{{trains_data.departure_name}} - {{trains_data.arrival_name}}</h4>
        <h5>{{trains_data.departure_date|date:"d-m-Y"}}</h5>
    {% endif %}
{% endif %}
</div>
{% if cars_data.trips or trains_data.trips %}
<div class="mb-4 mb-md-12 container-md text-center" id="trips_section">
<table class="table table-striped">
    <thead class="table-dark">
        <tr>
            <th>Type</th>
            <th>Number</th>
            <th>Route</th>
            <th>Departure</th>
            <th>Arrival</th>
            <th>In route time</th>
            <th>Price</th>
            <th>Link</th>
        </tr>
    </thead>
    <tbody>
{% if trains_data.trips %}
    {% include 'transport/route_trains.html' %}
{% endif %}
{% if cars_data.trips %}
    {% include 'transport/route_cars.html' %}
{% endif %}
    </tbody>
    </table>
{% else %}
<div class="text-center">
    <h3>Transport for this route not found</h3>
</div>
</div>
{% endif %}
{% endblock %}
