{% extends "base.html" %}

{% block content %}
<div class="text-center">
    <h3>Welcome to the Transport search</h3>
    <br>
    <form class="form-inline" action="{% url 'transport:schedule_post_handler' %}" enctype="multipart/form-data" method="post">
        {% csrf_token %}
        {{ form.departure_name }}
        {{ form.arrival_name }}
        {{ form.departure_date }}
        <input type="submit" class="btn btn-primary btn-sm" value="Search">
        <div id="form_checkboxes">
            {{ form.transport_types }}
        </div>
        {% if form.errors %}
        <div id="form_checkboxes_errors">
            <ul>
            {% for field, errors in form.errors.items %}
                {% for error in errors %}
                <li>
                    {{ field }} - {{error}}
                </li>
                {% endfor %}
            {% endfor %}
            </ul>
        </div>
        {% endif %}
    </form>
</div>
{% endblock %}