{% extends "base.html" %}

{% block content %}
<div class="text-dark text-center">
    <h2>{{ hotel.name }}</h2>
</div>
<div class="row">
    <div class="col">
        <img src="{{ hotel.photo.url }}">
    </div>
    <div class="col">
        {% for room, price in hotel.get_rooms.items %}
        <h6>
            <li>{{ room }}: {{ price }}</li>
        </h6>
        {% endfor %}
        <hr>
        <form action="{{ hotel.get_absolute_url }}" method="post">
            {% csrf_token %}
            <div class="col-8">
                {% for field in order_form %}
                <div class="form-group row">

                    {{ field.label }}
                    {{ field }}

                </div>
                {% endfor %}
                {% if order_form.errors %}
                <div class="alert alert-danger">
                    {{ order_form.non_field_errors}}
                </div>
                {% endif %}

            </div>
            <br>

            <input type="submit" value="check dates" name="check_dates" class="form-control btn btn-primary">
        </form>
    </div>
</div>

<div class="text-success text-center"><h4>RATING: {{ hotel.get_avg_marks }}</h4></div>
<form action="{% url 'hotels:rating_create' hotel.pk %}" method="post">
    {% csrf_token %}
    {% if user.is_authenticated %}

        {% if check_rating.check_is_hotel_rated_by_user %}
            <fieldset disabled>
        {{ rate }}
    <input type="submit" id="disabledInput" value="Rate"
           class="btn btn-primary">
        <p class="text-danger">Dear, {{ user }}, you have rated this hotel already</p>
        </fieldset>
        {% else %}

            {{ rate }}
        <input type="submit" value="Rate"
               class="btn btn-primary">
            {% endif %}
    {% else %}
        <p class="text-danger">You should be registered to make a Rate and leave a comment.
            <a href="{% url 'user_auth:sign_up' %}">Sign up</a>
            <text class="">or</text>
            <a href="{% url 'user_auth:sign_in' %}">Sign in</a>
        </p>
    {% endif %}
</form>

<div class="row">
    <div class="col">
        {% if hotel.comments.all %}
        <h3 class="text-center">Comments:</h3>
        <ul class="list-group">
            {% for h in hotel.comments.all %}
            <li class="list-group-item">{{ h }}</li>
            {% endfor %}
        </ul>
        {% else %}
        <h5>NO COMMENTS YET</h5>
        {% endif %}
    </div>
    <hr>
    {% if user.is_authenticated %}
        <h3 class="text-center">Comment Form:</h3>
        <div class="col-6">
        <form action="{% url 'hotels:hotel_comment' hotel.pk %}" method="post">
            {% csrf_token %}
            {% for f in form %}
            <div class="form-control row">

                {{ f.label }}
                {{ f }}

            </div>
            {% endfor %}
            <button type="submit" value="Add Comment"
                    class="btn btn-outline-primary">Add Comment</button>
        </form>
    </div>
    {% endif %}
</div>
<div>
</div>
</div>


{% endblock %}