{% extends "base.html" %}

{% block content %}

<div class="jumbotron">
  <h5 class="display-4">{{ order.user }}, Ваша бронь успешно добавлена</h5>
  <p class="lead">{{ order.hotel.name }}, город {{ order.hotel.city.name }}, тел. {{ order.hotel.contacts }}</p>
  <hr class="my-4">
  <p><strong>Дата заезда: {{ order.check_in }}</strong></p>
    <p><strong>Дата выезда: {{ order.check_out }}</strong></p>
    <p><strong>Цена за {{ delta_days }} дней: {{ order.price }} грн.</strong></p>
    <hr>
    <p><strong>Номера заказ: {{ order.id }}</strong></p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="{% url 'user_profile:user_profile' %}" role="button">Profile</a>
  </p>
</div>
{% endblock %}